<div data-vc-full-width="true" data-vc-full-width-temp="true" data-vc-full-width-init="false"
    class="vc_row wpb_row vc_row-fluid vc_custom_1465381515656 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="vc_custom_heading vc_custom_1451044003374 text_align_left">
                    <div style="font-size: 36px;color: #ffffff;line-height: 38px;text-align: left;font-family:Poppins;font-weight:700;font-style:normal"
                        class="consulting-custom-title">request a call back.</div>
                </div>
                <div class="wpb_text_column wpb_content_element vc_custom_1465467048424">
                    <div class="wpb_wrapper">
                        <p><span style="color: #ffffff; font-size: 13px; line-height: 22px; display: block;">Would
                                you like to speak to one of our financial advisers
                                over the phone? Just submit your details and we’ll
                                be in touch shortly. You can also email us if you
                                would prefer.</span></p>

                    </div>
                </div>
                <div class="stm-spacing" id="stm-spacing-691554032a402"></div>
                <script>
                    (function ($) {
                        "use strict";
                        var spacingID = 'stm-spacing-691554032a402',
                            lgSpacing = '',
                            mdSpacing = '',
                            smSpacing = '',
                            xsSpacing = '30px';

                        function stmSpacing() {
                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                $('#' + spacingID).css("height", lgSpacing);
                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                $('#' + spacingID).css("height", mdSpacing);
                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                $('#' + spacingID).css("height", smSpacing);
                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                $('#' + spacingID).css("height", xsSpacing);
                            } else {
                                $('#' + spacingID).css("height", "");
                            }
                        }

                        $(document).ready(function () {
                            stmSpacing();
                        });

                        $(window).resize(function () {
                            stmSpacing();
                        });

                    })(jQuery);
                </script>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <span class="wpcf7-form-control-wrap" data-name="services_consulting">
                                <select class="wpcf7-form-control wpcf7-select select2-hidden-accessible"
                                    aria-invalid="false" name="services_consulting" tabindex="-1" aria-hidden="true">
                                    <option value="">Business Planning</option>
                                    <option value="Audit &amp; Assurance">Audit &amp; Assurance</option>
                                    <option value="Strategic Planning">Strategic Planning</option>
                                    <option value="Trades &amp; Stocks">Trades &amp; Stocks</option>
                                    <option value="Financial Projections">Financial Projections</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <span class="wpcf7-form-control-wrap" data-name="text-name"><input size="40" maxlength="400"
                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                    aria-required="true" aria-invalid="false" placeholder="First name" value=""
                                    type="text" name="text-name"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <span class="wpcf7-form-control-wrap" data-name="phone"><input size="40" maxlength="400"
                                    class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel"
                                    aria-required="true" aria-invalid="false" placeholder="Phone number" value=""
                                    type="tel" name="phone"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <button type="submit" class="button size-lg icon_right">submit <i
                                    class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>