<div data-vc-full-width="true" data-vc-full-width-temp="true" data-vc-full-width-init="false"
    class="vc_row wpb_row vc_row-fluid third_bg_color">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <section class="vc_cta3-container">
                    <div
                        class="vc_general vc_cta3 third_bg_color vc_cta3-style-flat vc_cta3-shape-square vc_cta3-align-left vc_cta3-color-classic vc_cta3-icon-size-md vc_cta3-actions-right style=""">
                        <div class="vc_cta3_content-container">
                            <div class="vc_cta3-content">
                                <header class="vc_cta3-content-header">
                                    <div class="vc_custom_heading base_font_color">
                                        <h2 style="font-size: 20px;line-height: 24px" class="consulting-custom-title">
                                            Looking
                                            for a First-Class Business Plan
                                            Consultant?</h2>
                                    </div>
                                </header>
                            </div>
                            <div class="vc_cta3-actions">
                                <div class="vc_btn3-container vc_btn3-right vc_do_btn">
                                    <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-right vc_btn3-color-theme_style_2"
                                        href="#" title="">get a quote <i
                                            class="vc_btn3-icon fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>