<div class="vc_row wpb_row vc_row-fluid vc_custom_1465380176367">
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="stm_animation stm_viewport" data-animate="fadeInUp"
                    data-animation-delay="0" data-animation-duration="1"
                    data-viewport_position="90">
                    <div class="info_box style_1">
                        <div class="info_box_image">
                            <img loading="lazy" decoding="async" width="350"
                                height="215" src="images/info-box-1.png"
                                class="attachment-full" alt="" title="info-box-1" />
                        </div>
                        <div class="title">
                            <h4 class="no_stripe">Why our consulting</h4>
                        </div>
                        <p>We are a full service business development group – we
                            build strategies and systems.</p>
                        <a class="read_more" target="_self" href="#"><span>read
                                more</span><i
                                class="fa fa-chevron-right stm_icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="stm_animation stm_viewport" data-animate="fadeInUp"
                    data-animation-delay="0.05" data-animation-duration="1"
                    data-viewport_position="90">
                    <div class="info_box style_1">
                        <div class="info_box_image">
                            <img loading="lazy" decoding="async" width="350"
                                height="215" src="images/info-box-2.png"
                                class="attachment-full" alt="" title="info-box-2" />
                        </div>
                        <div class="title">
                            <h4 class="no_stripe">Global consumer insights</h4>
                        </div>
                        <p>Rapid and sustainable solutions to the most complex
                            business challenges with cooperative process-driven.</p>
                        <a class="read_more" target="_self" href="#"><span>read
                                more</span><i
                                class="fa fa-chevron-right stm_icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="stm_animation stm_viewport" data-animate="fadeInUp"
                    data-animation-delay="0.1" data-animation-duration="1"
                    data-viewport_position="90">
                    <div class="info_box style_1">
                        <div class="info_box_image">
                            <img loading="lazy" decoding="async" width="350"
                                height="215" src="images/info-box-3.png"
                                class="attachment-full" alt="" title="info-box-3" />
                        </div>
                        <div class="title">
                            <h4 class="no_stripe">Thought Leadership</h4>
                        </div>
                        <p>A solution is proposed, from here you can action the plan
                            with just outline assistance.</p>
                        <a class="read_more" target="_self" href="#"><span>read
                                more</span><i
                                class="fa fa-chevron-right stm_icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>