<section
    id="solution-page"
    class="elementor-section elementor-top-section elementor-element elementor-element-837a24b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="837a24b"
    data-element_type="section"
>
    <div class="elementor-container elementor-column-gap-default">
        <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-769976d"
            data-id="769976d"
            data-element_type="column"
        >
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="vc_custom_heading base_font_color text_align_center">
                    <h2 style="font-size: 45px;line-height: 60px;text-align: center" class="consulting-custom-title">
                        Giải pháp chuyên biệt cho từng ngành nghề</h2>
                </div>
                <div
                    class="elementor-element elementor-element-aa6334b elementor-widget elementor-widget-stm_portfolio"
                    data-id="aa6334b"
                    data-element_type="widget"
                    data-widget_type="stm_portfolio.default"
                >
                    <div class="elementor-widget-container">
                        <div class="consulting_portfolio_box ">
                            <div
                                class="consulting_portfolio_grid consulting_elementor_portfolio style_3 hover_zoom column-3"
                            >
                                <div
                                    class="portfolio_item all financial-services"
                                >
                                    <a
                                        href="#1"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                fetchpriority="high"
                                                decoding="async"
                                                width="848"
                                                height="566"
                                                src="/images/ss.webp"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio_inner_1"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            Thiết kế & thi công nội thất
                                            <span class="portfolio_category"
                                                >Website là showroom 24/7 giúp bạn trình diễn các dự án thực tế. Thay vì gửi file ảnh rời rạc, một thư viện dự án chuyên nghiệp sẽ xây dựng niềm tin tuyệt đối, giúp bạn chinh phục những hợp đồng giá trị cao.</span
                                            >
                                        </span>
                                    </a>
                                </div>
                                <div
                                    class="portfolio_item all advanced-analytics"
                                >
                                    <a
                                        href="#2"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                decoding="async"
                                                width="700"
                                                height="500"
                                                src="/images/ss2.jpg"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio-grid1"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            Phòng khám nha khoa & Thẩm mỹ
                                            <span class="portfolio_category"
                                            >Xóa bỏ tình trạng khách hàng chờ đợi hoặc bỏ lỡ lịch hẹn. Hệ thống đặt lịch trực tuyến kết hợp với trang giới thiệu dịch vụ chuẩn y kho giúp tăng sư uy tín, tối ưu quy trình vận hành và chăm sóc khách hàng tự động.
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div
                                    class="portfolio_item all financial-services"
                                >
                                    <a
                                        href="#3"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="700"
                                                height="500"
                                                src="/images/ss3.jpg"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio-grid2"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            Kinh doanh bất động sản
                                            <span class="portfolio_category"
                                                >Sở hữu phễu thu thập khách hàng tiềm năng chuyên nghiệp cho từng dự án. Website giúp bạn cung cấp thông tin minh bạch, bản đồ vị trí và bảng giá cập nhật, giúp sàng lọc khách hàng thực sự. quan tâm trước khi bạn nhấc máy tư vấn.</span
                                            >
                                        </span>
                                    </a>
                                </div>
                                <div
                                    class="portfolio_item all surface-transport-logistics"
                                >
                                    <a
                                        href="#4"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="621"
                                                height="960"
                                                src="/images/portfolio-grid4.jpg"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio-grid4"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            Dịch vụ Luật & Tư vấn pháp lý
                                            <span class="portfolio_category"
                                                >Trong ngành luật, sự tin tưởng là cốt lõi. Website chuyên nghiệp khẳng định vị thế chuyên gia, giúp khách hàng dễ dàng tìm thấy giải pháp cho vấn đề của họ và kết nối với bạn ngay lập tức qua hệ thống bảo mật thông tin.</span
                                            >
                                        </span>
                                    </a>
                                </div>
                                <div
                                    class="portfolio_item all financial-services"
                                >
                                    <a
                                        href="#5"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="1024"
                                                height="351"
                                                src="/images/portfolio-grid5-1024x351.jpg"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio-grid5"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            Nhà hàng & Quán cà phê cao cấp
                                            <span class="portfolio_category"
                                                >Website giúp bạn thoát khỏi sự phụ thuộc vào các ứng dụng giao hàng tốn phí chiết khấu cao. Tích hợp thực đơn điện tử, đặt bàn trực tuyến và quảng bá không gian giúp thu hút thực khách và giữ chân kháchh hàng trung thành hiệu quả.</span
                                            >
                                        </span>
                                    </a>
                                </div>
                                <div
                                    class="portfolio_item all advanced-analytics"
                                >
                                    <a
                                        href="#6"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="700"
                                                height="500"
                                                src="/images/portfolio-grid6.jpg"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio-grid6"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            Trung tâm Đào tạo & Giáo dục
                                            <span class="portfolio_category"
                                                >Số hóa quy trình tuyển sinh và quản lý học viên. Website giúp bạn giới thiệu khóa học, đội ngũ giảng viên và cảm nhận học viên một cách hệ thống, tạo dựng thương hiệu giáo dục uy tín và chuyên nghiệp trong mắt phụ huynh.</span
                                            >
                                        </span>
                                    </a>
                                </div>
                                <div
                                    class="portfolio_item all advanced-analytics"
                                >
                                    <a
                                        href="#7"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="700"
                                                height="500"
                                                src="/images/portfolio-grid6.jpg"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio-grid6"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            Dịch vụ Sửa chữa & Kỹ thuật tại nhà
                                            <span class="portfolio_category"
                                                >Khách hàng luôn tìm kiếm sự nhanh chóng khi gặp sự cố. Website tối ưu SEO giúp thương hiệu của bạn xuất hiện đầu tiên trên Google, đi kèm nút gọi khẩn cấp và bảng giá minh bạch để chốt đơn ngay khi khách hàng cần.</span
                                            >
                                        </span>
                                    </a>
                                </div>
                                <div
                                    class="portfolio_item all advanced-analytics"
                                >
                                    <a
                                        href="#8"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="700"
                                                height="500"
                                                src="/images/portfolio-grid6.jpg"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio-grid6"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            Khách sạn & Homestay địa phương
                                            <span class="portfolio_category"
                                                >Chủ động hoàn toàn trong việc quản lý phòng trống và thanh toán mà không mất hoa hồng cho bên thứ ba. Website giúp bạn kể câu chuyện thương hiệu qua hình ảnh lung linh, thúc đẩy khách hàng đặt phòng trực tiếp để nhận ưu đãi.</span
                                            >
                                        </span>
                                    </a>
                                </div>
                                <div
                                    class="portfolio_item all advanced-analytics"
                                >
                                    <a
                                        href="#9"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="700"
                                                height="500"
                                                src="/images/portfolio-grid6.jpg"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio-grid6"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            9. Spa & Wellness Center
                                            <span class="portfolio_category"
                                                >​Nâng tầm trải nghiệm khách hàng ngay từ khâu tìm kiếm. Website không chỉ là nơi giới thiệu liệu trình mà còn là công cụ quản lý lịch hẹn thông minh, giúp bạn điều phối nhân viên hiệu quả và giảm thiểu tối đa tình trạng khách quên lịch.</span
                                            >
                                        </span>
                                    </a>
                                </div>
                                <!-- <div
                                    class="portfolio_item all advanced-analytics"
                                >
                                    <a
                                        href="#9"
                                        class="portfolio_link"
                                    >
                                        <span class="portfolio_item_thumbnail">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="700"
                                                height="500"
                                                src="https://consulting.stylemixthemes.com/twelve/wp-content/uploads/sites/12/2017/02/portfolio-grid6.jpg"
                                                class="attachment-large"
                                                alt=""
                                                title="portfolio-grid6"
                                            />
                                        </span>

                                        <span class="portfolio_info">
                                            10. Doanh nghiệp Sản xuất & Xuất khẩu
                                            <span class="portfolio_category"
                                                >​Website là "giấy thông hành" để bước ra thị trường quốc tế. Một trang web đa ngôn ngữ, trình bày năng lực sản xuất và chứng chỉ chất lượng chuẩn chỉnh là cách duy nhất để bạn tiếp cận và làm việc với các đối tác lớn toàn cầu.</span
                                            >
                                        </span>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
