<div class="vc_row wpb_row vc_row-fluid vc_custom_1451043728133">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="stm_news ">
                    <ul class="news_list posts_per_row_4">
                        <li>
                            <div class="post_inner">
                                <div class="image">
                                    <a
                                        href="narrow-your-focus-to-prevent-overanalysis/index.html">
                                        <img loading="lazy" decoding="async"
                                            width="350" height="250"
                                            src="images/n3-350x250.png"
                                            class="attachment-consulting-image-350x250-croped"
                                            alt="" title="n3"
                                            srcset="http://localhost:8080/images/n3-350x250.png 350w, http://localhost:8080/images/n3-300x214.png 300w, http://localhost:8080/images/n3-1024x732.png 1024w, http://localhost:8080/images/n3-1536x1097.png 1536w, http://localhost:8080/images/n3-255x182.png 255w, http://localhost:8080/images/n3-900x643.png 900w, http://localhost:8080/images/n3-356x254.png 356w, http://localhost:8080/images/n3.png 1600w"
                                            sizes="(max-width: 350px) 100vw, 350px" />
                                    </a>
                                </div>
                                <div class="stm_news_unit-block">
                                    <h5 class="no_stripe"><a
                                            href="narrow-your-focus-to-prevent-overanalysis/index.html">Narrow
                                            Your Focus to Prevent Overanalysis</a>
                                    </h5>

                                    <div class="stm_the_excerpt">
                                        <p>What is this highly valuable asset? Its
                                            own people. Says Morgan Fraud, the
                                            author of The Thinking Corporation,
                                            “Given that we are all capable of
                                            contributing new ideas, the question
                                            becomes how do you successfully
                                            generate, capture, process and implement
                                            ideas?”</p>
                                    </div>
                                    <div class="date">
                                        <span class="the_date">November 8,
                                            2025</span>
                                        <a href="narrow-your-focus-to-prevent-overanalysis/index.html"
                                            class="button size-lg hidden">Read
                                            more</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="post_inner">
                                <div class="image">
                                    <a
                                        href="stick-with-your-concept-but-do-your-homework/index.html">
                                        <img loading="lazy" decoding="async"
                                            width="350" height="250"
                                            src="images/n4-350x250.png"
                                            class="attachment-consulting-image-350x250-croped"
                                            alt="" title="n4"
                                            srcset="http://localhost:8080/images/n4-350x250.png 350w, http://localhost:8080/images/n4-300x214.png 300w, http://localhost:8080/images/n4-1024x732.png 1024w, http://localhost:8080/images/n4-1536x1097.png 1536w, http://localhost:8080/images/n4-255x182.png 255w, http://localhost:8080/images/n4-900x643.png 900w, http://localhost:8080/images/n4-356x254.png 356w, http://localhost:8080/images/n4.png 1600w"
                                            sizes="(max-width: 350px) 100vw, 350px" />
                                    </a>
                                </div>
                                <div class="stm_news_unit-block">
                                    <h5 class="no_stripe"><a
                                            href="stick-with-your-concept-but-do-your-homework/index.html">Stick
                                            with Your Concept but Do Your
                                            Homework</a>
                                    </h5>

                                    <div class="stm_the_excerpt">
                                        <p>With hundreds of medications in the
                                            market, Pharm Ltd. needed a proper
                                            method to predict and manage their
                                            inventory. Using a mean absolute
                                            percentage analysis (MAPE), the teams
                                            defined appropriate levels for raw
                                            materials and finished products by
                                            mapping.</p>
                                    </div>
                                    <div class="date">
                                        <span class="the_date">October 27,
                                            2025</span>
                                        <a href="stick-with-your-concept-but-do-your-homework/index.html"
                                            class="button size-lg hidden">Read
                                            more</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="post_inner">
                                <div class="image">
                                    <a
                                        href="three-social-media-hacks-for-the-busy-entrepreneur/index.html">
                                        <img loading="lazy" decoding="async"
                                            width="350" height="250"
                                            src="images/n5-350x250.png"
                                            class="attachment-consulting-image-350x250-croped"
                                            alt="" title="n5"
                                            srcset="http://localhost:8080/images/n5-350x250.png 350w, http://localhost:8080/images/n5-300x214.png 300w, http://localhost:8080/images/n5-1024x732.png 1024w, http://localhost:8080/images/n5-1536x1097.png 1536w, http://localhost:8080/images/n5-255x182.png 255w, http://localhost:8080/images/n5-900x643.png 900w, http://localhost:8080/images/n5-356x254.png 356w, http://localhost:8080/images/n5.png 1600w"
                                            sizes="(max-width: 350px) 100vw, 350px" />
                                    </a>
                                </div>
                                <div class="stm_news_unit-block">
                                    <h5 class="no_stripe"><a
                                            href="three-social-media-hacks-for-the-busy-entrepreneur/index.html">Three
                                            Social Media Hacks for the Busy
                                            Entrepreneur</a>
                                    </h5>

                                    <div class="stm_the_excerpt">
                                        <p>The teams focused their efforts on a few
                                            of the highest-value S&amp;OP levers in
                                            order to review the current planning
                                            process, identify gaps in the planning
                                            infrastructure and analytically
                                            understand demand and supply
                                            variability.</p>
                                    </div>
                                    <div class="date">
                                        <span class="the_date">October 10,
                                            2025</span>
                                        <a href="three-social-media-hacks-for-the-busy-entrepreneur/index.html"
                                            class="button size-lg hidden">Read
                                            more</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="post_inner">
                                <div class="image">
                                    <a
                                        href="retail-banks-wake-up-to-digital-lending/index.html">
                                        <img loading="lazy" decoding="async"
                                            width="350" height="250"
                                            src="images/n7-350x250.png"
                                            class="attachment-consulting-image-350x250-croped"
                                            alt="" title="n7"
                                            srcset="http://localhost:8080/images/n7-350x250.png 350w, http://localhost:8080/images/n7-300x214.png 300w, http://localhost:8080/images/n7-1024x732.png 1024w, http://localhost:8080/images/n7-1536x1097.png 1536w, http://localhost:8080/images/n7-255x182.png 255w, http://localhost:8080/images/n7-900x643.png 900w, http://localhost:8080/images/n7-356x254.png 356w, http://localhost:8080/images/n7.png 1600w"
                                            sizes="(max-width: 350px) 100vw, 350px" />
                                    </a>
                                </div>
                                <div class="stm_news_unit-block">
                                    <h5 class="no_stripe"><a
                                            href="retail-banks-wake-up-to-digital-lending/index.html">Retail
                                            banks wake up to digital lending this
                                            year</a>
                                    </h5>

                                    <div class="stm_the_excerpt">
                                        <p>The effort vastly improved the company’s
                                            planning and execution functions,
                                            created and implemented a new stock
                                            policy that accounted for specific SKUs
                                            and key variables, streamlined the order
                                            preparation process and reduced
                                            distribution transport times.</p>
                                    </div>
                                    <div class="date">
                                        <span class="the_date">September 29,
                                            2025</span>
                                        <a href="retail-banks-wake-up-to-digital-lending/index.html"
                                            class="button size-lg hidden">Read
                                            more</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>