<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-2">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper"></div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-8">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="stm-spacing" id="stm-spacing-6902586f34925" style="height: 100px;"></div>
                <script>
                    (function ($) {
                        "use strict";
                        var spacingID = 'stm-spacing-6902586f34925',
                            lgSpacing = '100',
                            mdSpacing = '100',
                            smSpacing = '70',
                            xsSpacing = '70';

                        function stmSpacing() {
                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                $('#' + spacingID).css("height", lgSpacing);
                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                $('#' + spacingID).css("height", mdSpacing);
                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                $('#' + spacingID).css("height", smSpacing);
                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                $('#' + spacingID).css("height", xsSpacing);
                            } else {
                                $('#' + spacingID).css("height", "");
                            }
                        }

                        $(document).ready(function () {
                            stmSpacing();
                        });

                        $(window).resize(function () {
                            stmSpacing();
                        });

                    })(jQuery);
                </script>
                <div class="vc_custom_heading text_align_center title_no_stripe">
                    <h2 style="text-align: center" class="consulting-custom-title">Giải pháp website linh hoạt – Phù hợp
                        mọi quy mô doanh nghiệp</h2>
                </div>
                <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                        <p style="font-size: 16px; text-align: center;">Chúng tôi cung cấp các gói thiết kế website được
                            xây dựng dựa trên nhu cầu thực tế của doanh nghiệp, từ website giới thiệu nhanh gọn đến giải
                            pháp web tùy chỉnh chuyên sâu.
                            Mỗi gói dịch vụ đều được tối ưu về hiệu quả, trải nghiệm người dùng và khả năng mở rộng,
                            giúp doanh nghiệp sở hữu một nền tảng web chuyên nghiệp – ổn định – sẵn sàng tăng trưởng với
                            chi phí minh bạch và hợp lý.</p>

                    </div>
                </div>
                <div class="stm-spacing" id="stm-spacing-6902586f34d62" style="height: 30px;"></div>
                <script>
                    (function ($) {
                        "use strict";
                        var spacingID = 'stm-spacing-6902586f34d62',
                            lgSpacing = '30',
                            mdSpacing = '30',
                            smSpacing = '30',
                            xsSpacing = '30';

                        function stmSpacing() {
                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                $('#' + spacingID).css("height", lgSpacing);
                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                $('#' + spacingID).css("height", mdSpacing);
                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                $('#' + spacingID).css("height", smSpacing);
                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                $('#' + spacingID).css("height", xsSpacing);
                            } else {
                                $('#' + spacingID).css("height", "");
                            }
                        }

                        $(document).ready(function () {
                            stmSpacing();
                        });

                        $(window).resize(function () {
                            stmSpacing();
                        });

                    })(jQuery);
                </script>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-2">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper"></div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="stm_pricing_plan_unit style_3">
                    <div class="stm_pricing_plan ">
                        <div class="top text-center">
                            <div class="inner">
                                <div class="title">STARTER</div>
                                <div class="price">
                                    <span class="heading_font">3.900.000đ</span>
                                </div>
                                <div class="subtitle">Website giới thiệu chuyên nghiệp – triển khai nhanh – chi phí tối
                                    ưu</div>
                            </div>
                        </div>
                        <div class="content">
                            <ul>
                                <li>Website 3–5 trang (Trang chủ, Giới thiệu, Dịch vụ, Liên hệ, Tin tức cơ bản)</li>
                                <li>Sử dụng template cao cấp có sẵn (đã tối ưu UX/UI)</li>
                                <li>Chuẩn responsive (Desktop / Tablet / Mobile)</li>
                                <li>Chuẩn SEO cơ bản (meta title, description, sitemap)</li>
                                <li>Form liên hệ gửi email</li>
                                <li>Tốc độ tải tốt, bảo mật cao</li>
                                <li>Hỗ trợ kỹ thuật 3 tháng sau bàn giao</li>
                                <li>Miễn phí tên miền .com/.net/.org 1 năm</li>
                                <li>Tặng hosting 1 năm</li>
                                <li>Thời gian hoàn thành: 3-5 ngày</li>
                            </ul>

                            <!-- <div class="stm_pricing_btn">
                                <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-outline vc_btn3-block vc_btn3-icon-left vc_btn3-color-theme_style_1"
                                    href="#" title="Get now">Get now<i class="fa fa-chevron-left vc_btn3-icon"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="stm-spacing" id="stm-spacing-6902586f35456" style="height: 0px;"></div>
                <script>
                    (function ($) {
                        "use strict";
                        var spacingID = 'stm-spacing-6902586f35456',
                            lgSpacing = '0',
                            mdSpacing = '70',
                            smSpacing = '70',
                            xsSpacing = '70';

                        function stmSpacing() {
                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                $('#' + spacingID).css("height", lgSpacing);
                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                $('#' + spacingID).css("height", mdSpacing);
                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                $('#' + spacingID).css("height", smSpacing);
                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                $('#' + spacingID).css("height", xsSpacing);
                            } else {
                                $('#' + spacingID).css("height", "");
                            }
                        }

                        $(document).ready(function () {
                            stmSpacing();
                        });

                        $(window).resize(function () {
                            stmSpacing();
                        });

                    })(jQuery);
                </script>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="stm_pricing_plan_unit style_3">
                    <div class="stm_pricing_plan has_status">
                        <div class="top text-center">
                            <div class="inner">
                                <div class="stm_label">
                                    <span>PHỔ BIẾN</span>
                                </div>
                                <div class="title">BUSSINESS</div>
                                <div class="price">
                                    <span class="heading_font">7.900.000đ</span>
                                </div>
                                <div class="subtitle">Website chuẩn thương hiệu – tối ưu chuyển đổi – dễ mở rộng</div>
                            </div>
                        </div>
                        <div class="content">
                            <ul>
                                <li><strong>Bao gồm các tính năng của gói STARTER, cộng thêm:</strong></li>
                                <li>Website 6–12 trang</li>
                                <li>Thiết kế UI theo màu sắc & nhận diện thương hiệu</li>
                                <li>Chuẩn responsive (Desktop / Tablet / Mobile)</li>
                                <li>Chuẩn SEO nâng cao (meta title, description, sitemap, schema cơ bản)</li>
                                <li>Form liên hệ gửi email + tích hợp chatbot cơ bản</li>
                                <li>Tối ưu tốc độ & trải nghiệm người dùng</li>
                                <li>Hỗ trợ kỹ thuật 1 năm sau bàn giao</li>
                                <li>Hỗ trợ đa ngôn ngữ (nếu cần)</li>
                                <li>Miễn phí tên miền .com/.net/.org 1 năm</li>
                                <li>Tặng hosting 1 năm</li>
                                <li>Thời gian hoàn thành: 7-10 ngày</li>
                            </ul>

                            <!-- <div class="stm_pricing_btn">
                                <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-outline vc_btn3-block vc_btn3-icon-left vc_btn3-color-theme_style_1"
                                    href="#" title="Get now">Đăng ký<i class="fa fa-chevron-left vc_btn3-icon"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="stm-spacing" id="stm-spacing-6902586f35865" style="height: 0px;"></div>
                <script>
                    (function ($) {
                        "use strict";
                        var spacingID = 'stm-spacing-6902586f35865',
                            lgSpacing = '0',
                            mdSpacing = '70',
                            smSpacing = '70',
                            xsSpacing = '70';

                        function stmSpacing() {
                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                $('#' + spacingID).css("height", lgSpacing);
                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                $('#' + spacingID).css("height", mdSpacing);
                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                $('#' + spacingID).css("height", smSpacing);
                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                $('#' + spacingID).css("height", xsSpacing);
                            } else {
                                $('#' + spacingID).css("height", "");
                            }
                        }

                        $(document).ready(function () {
                            stmSpacing();
                        });

                        $(window).resize(function () {
                            stmSpacing();
                        });

                    })(jQuery);
                </script>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="stm_pricing_plan_unit style_3">
                    <div class="stm_pricing_plan ">
                        <div class="top text-center">
                            <div class="inner">
                                <div class="title">CUSTOM</div>
                                <div class="price">
                                    <span class="heading_font">LIÊN HỆ</span>
                                </div>
                                <div class="subtitle">Không chỉ là website – mà là giải pháp vận hành & tăng trưởng
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <ul>
                                <li>Phân tích yêu cầu & tư vấn kiến trúc hệ thống</li>
                                <li>Thiết kế UI/UX theo hành vi người dùng</li>
                                <li>Phát triển tính năng theo yêu cầu</li>
                                <li>Hệ thống quản trị riêng</li>
                                <li>Phân quyền, bảo mật nâng cao</li>
                                <li>Dễ mở rộng, bảo trì dài hạn</li>
                            </ul>

                            <!-- <div class="stm_pricing_btn">
                                <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-outline vc_btn3-block vc_btn3-icon-left vc_btn3-color-theme_style_1"
                                    href="#" title="Get now">Get now<i class="fa fa-chevron-left vc_btn3-icon"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="stm-spacing" id="stm-spacing-6902586f35c63" style="height: 0px;"></div>
                <script>
                    (function ($) {
                        "use strict";
                        var spacingID = 'stm-spacing-6902586f35c63',
                            lgSpacing = '0',
                            mdSpacing = '70',
                            smSpacing = '70',
                            xsSpacing = '70';

                        function stmSpacing() {
                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                $('#' + spacingID).css("height", lgSpacing);
                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                $('#' + spacingID).css("height", mdSpacing);
                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                $('#' + spacingID).css("height", smSpacing);
                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                $('#' + spacingID).css("height", xsSpacing);
                            } else {
                                $('#' + spacingID).css("height", "");
                            }
                        }

                        $(document).ready(function () {
                            stmSpacing();
                        });

                        $(window).resize(function () {
                            stmSpacing();
                        });

                    })(jQuery);
                </script>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="stm-spacing" id="stm-spacing-6902586f35e84" style="height: 100px;"></div>
                <script>
                    (function ($) {
                        "use strict";
                        var spacingID = 'stm-spacing-6902586f35e84',
                            lgSpacing = '100',
                            mdSpacing = '100',
                            smSpacing = '0',
                            xsSpacing = '0';

                        function stmSpacing() {
                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                $('#' + spacingID).css("height", lgSpacing);
                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                $('#' + spacingID).css("height", mdSpacing);
                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                $('#' + spacingID).css("height", smSpacing);
                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                $('#' + spacingID).css("height", xsSpacing);
                            } else {
                                $('#' + spacingID).css("height", "");
                            }
                        }

                        $(document).ready(function () {
                            stmSpacing();
                        });

                        $(window).resize(function () {
                            stmSpacing();
                        });

                    })(jQuery);
                </script>
            </div>
        </div>
    </div>
</div>