<div data-vc-full-width="true" data-vc-full-width-temp="true" data-vc-full-width-init="false"
    class="vc_row wpb_row vc_row-fluid vc_custom_1465380777071 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="vc_custom_heading base_font_color text_align_center">
                    <h2 style="font-size: 45px;line-height: 60px;text-align: center" class="consulting-custom-title">
                        Giải pháp chuyên biệt cho từng ngành nghề</h2>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1465380572886">
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 15px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-airplane"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Thiết kế & thi công nội thất</h5>
                                        <p>Website là showroom 24/7 giúp bạn trình diễn các dự án thực tế. Thay vì gửi file ảnh rời rạc, một thư viện dự án chuyên nghiệp sẽ xây dựng niềm tin tuyệt đối, giúp bạn chinh phục những hợp đồng giá trị cao.</p>
                                    </div>
                                </div>

                                <div class="stm-spacing" id="stm-spacing-691554030ebef"></div>
                                <script>
                                    (function ($) {
                                        "use strict";
                                        var spacingID = 'stm-spacing-691554030ebef',
                                            lgSpacing = '',
                                            mdSpacing = '',
                                            smSpacing = '',
                                            xsSpacing = '27px';

                                        function stmSpacing() {
                                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                                $('#' + spacingID).css("height", lgSpacing);
                                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                                $('#' + spacingID).css("height", mdSpacing);
                                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                                $('#' + spacingID).css("height", smSpacing);
                                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                                $('#' + spacingID).css("height", xsSpacing);
                                            } else {
                                                $('#' + spacingID).css("height", "");
                                            }
                                        }

                                        $(document).ready(function () {
                                            stmSpacing();
                                        });

                                        $(window).resize(function () {
                                            stmSpacing();
                                        });

                                    })(jQuery);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 22px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-graph"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Business
                                            Services<br />
                                            Consulting</h5>
                                        <p>We consider all the drivers of change
                                            &#8211; from the ground up and
                                            we&#8217;ll motivate and support you to
                                            make the change.</p>
                                    </div>
                                </div>

                                <div class="stm-spacing" id="stm-spacing-691554030f3bf"></div>
                                <script>
                                    (function ($) {
                                        "use strict";
                                        var spacingID = 'stm-spacing-691554030f3bf',
                                            lgSpacing = '',
                                            mdSpacing = '',
                                            smSpacing = '',
                                            xsSpacing = '27px';

                                        function stmSpacing() {
                                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                                $('#' + spacingID).css("height", lgSpacing);
                                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                                $('#' + spacingID).css("height", mdSpacing);
                                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                                $('#' + spacingID).css("height", smSpacing);
                                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                                $('#' + spacingID).css("height", xsSpacing);
                                            } else {
                                                $('#' + spacingID).css("height", "");
                                            }
                                        }

                                        $(document).ready(function () {
                                            stmSpacing();
                                        });

                                        $(window).resize(function () {
                                            stmSpacing();
                                        });

                                    })(jQuery);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 22px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-cart"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Phòng khám nha khoa & Thẩm mỹ</h5>
                                        <p>Hệ thống đặt lịch trực tuyến kết hợp với trang giới thiệu dịch vụ chuẩn y kho giúp tăng sư uy tín, tối ưu quy trình vận hành và chăm sóc khách hàng tự động.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 24px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-home"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Financial
                                            Services<br />
                                            Consulting</h5>
                                        <p>We work buy-side and sell-side and give
                                            our clients hard-hitting and objective
                                            answers and focus hard on the best
                                            opportunities.</p>
                                    </div>
                                </div>

                                <div class="stm-spacing" id="stm-spacing-69155403104b3"></div>
                                <script>
                                    (function ($) {
                                        "use strict";
                                        var spacingID = 'stm-spacing-69155403104b3',
                                            lgSpacing = '',
                                            mdSpacing = '',
                                            smSpacing = '',
                                            xsSpacing = '27px';

                                        function stmSpacing() {
                                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                                $('#' + spacingID).css("height", lgSpacing);
                                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                                $('#' + spacingID).css("height", mdSpacing);
                                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                                $('#' + spacingID).css("height", smSpacing);
                                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                                $('#' + spacingID).css("height", xsSpacing);
                                            } else {
                                                $('#' + spacingID).css("height", "");
                                            }
                                        }

                                        $(document).ready(function () {
                                            stmSpacing();
                                        });

                                        $(window).resize(function () {
                                            stmSpacing();
                                        });

                                    })(jQuery);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 28px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-lamp"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Kinh doanh bất động sản</h5>
                                        <p>Sở hữu phễu thu thập khách hàng tiềm năng chuyên nghiệp cho từng dự án. Website giúp bạn cung cấp thông tin minh bạch, bản đồ vị trí và bảng giá cập nhật, giúp sàng lọc khách hàng thực sự. quan tâm trước khi bạn nhấc máy tư vấn.</p>
                                    </div>
                                </div>

                                <div class="stm-spacing" id="stm-spacing-6915540310c8d"></div>
                                <script>
                                    (function ($) {
                                        "use strict";
                                        var spacingID = 'stm-spacing-6915540310c8d',
                                            lgSpacing = '',
                                            mdSpacing = '',
                                            smSpacing = '',
                                            xsSpacing = '27px';

                                        function stmSpacing() {
                                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                                $('#' + spacingID).css("height", lgSpacing);
                                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                                $('#' + spacingID).css("height", mdSpacing);
                                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                                $('#' + spacingID).css("height", smSpacing);
                                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                                $('#' + spacingID).css("height", xsSpacing);
                                            } else {
                                                $('#' + spacingID).css("height", "");
                                            }
                                        }

                                        $(document).ready(function () {
                                            stmSpacing();
                                        });

                                        $(window).resize(function () {
                                            stmSpacing();
                                        });

                                    })(jQuery);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 20px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-truck"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Surface
                                            Transport &amp;<br />
                                            Logistics Consulting</h5>
                                        <p>Scheduled transport operations, from
                                            broad market trends and strategy to the
                                            development of integrated commercial
                                            strategies.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>