<div data-vc-full-width="true" data-vc-full-width-temp="true" data-vc-full-width-init="false"
    class="vc_row wpb_row vc_row-fluid vc_custom_1465380777071 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1465380572886">
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 15px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-airplane"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Travel and
                                            Aviation<br />
                                            Consulting</h5>
                                        <p>Study popular tourism destinations and
                                            improve your sales skills to
                                            successfully advise your clients on the
                                            best travel options.</p>
                                    </div>
                                </div>

                                <div class="stm-spacing" id="stm-spacing-691554030ebef"></div>
                                <script>
                                    (function ($) {
                                        "use strict";
                                        var spacingID = 'stm-spacing-691554030ebef',
                                            lgSpacing = '',
                                            mdSpacing = '',
                                            smSpacing = '',
                                            xsSpacing = '27px';

                                        function stmSpacing() {
                                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                                $('#' + spacingID).css("height", lgSpacing);
                                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                                $('#' + spacingID).css("height", mdSpacing);
                                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                                $('#' + spacingID).css("height", smSpacing);
                                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                                $('#' + spacingID).css("height", xsSpacing);
                                            } else {
                                                $('#' + spacingID).css("height", "");
                                            }
                                        }

                                        $(document).ready(function () {
                                            stmSpacing();
                                        });

                                        $(window).resize(function () {
                                            stmSpacing();
                                        });

                                    })(jQuery);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 22px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-graph"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Business
                                            Services<br />
                                            Consulting</h5>
                                        <p>We consider all the drivers of change
                                            &#8211; from the ground up and
                                            we&#8217;ll motivate and support you to
                                            make the change.</p>
                                    </div>
                                </div>

                                <div class="stm-spacing" id="stm-spacing-691554030f3bf"></div>
                                <script>
                                    (function ($) {
                                        "use strict";
                                        var spacingID = 'stm-spacing-691554030f3bf',
                                            lgSpacing = '',
                                            mdSpacing = '',
                                            smSpacing = '',
                                            xsSpacing = '27px';

                                        function stmSpacing() {
                                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                                $('#' + spacingID).css("height", lgSpacing);
                                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                                $('#' + spacingID).css("height", mdSpacing);
                                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                                $('#' + spacingID).css("height", smSpacing);
                                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                                $('#' + spacingID).css("height", xsSpacing);
                                            } else {
                                                $('#' + spacingID).css("height", "");
                                            }
                                        }

                                        $(document).ready(function () {
                                            stmSpacing();
                                        });

                                        $(window).resize(function () {
                                            stmSpacing();
                                        });

                                    })(jQuery);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 22px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-cart"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Consumer
                                            Products<br />
                                            Consulting</h5>
                                        <p>Design repeatable growth models and
                                            innovation pipelines that generate new
                                            products with higher potential and lower
                                            risks of failure.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 24px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-home"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Financial
                                            Services<br />
                                            Consulting</h5>
                                        <p>We work buy-side and sell-side and give
                                            our clients hard-hitting and objective
                                            answers and focus hard on the best
                                            opportunities.</p>
                                    </div>
                                </div>

                                <div class="stm-spacing" id="stm-spacing-69155403104b3"></div>
                                <script>
                                    (function ($) {
                                        "use strict";
                                        var spacingID = 'stm-spacing-69155403104b3',
                                            lgSpacing = '',
                                            mdSpacing = '',
                                            smSpacing = '',
                                            xsSpacing = '27px';

                                        function stmSpacing() {
                                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                                $('#' + spacingID).css("height", lgSpacing);
                                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                                $('#' + spacingID).css("height", mdSpacing);
                                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                                $('#' + spacingID).css("height", smSpacing);
                                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                                $('#' + spacingID).css("height", xsSpacing);
                                            } else {
                                                $('#' + spacingID).css("height", "");
                                            }
                                        }

                                        $(document).ready(function () {
                                            stmSpacing();
                                        });

                                        $(window).resize(function () {
                                            stmSpacing();
                                        });

                                    })(jQuery);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 28px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-lamp"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Energy and
                                            Environment<br />
                                            Consulting</h5>
                                        <p>We work across all the major construction
                                            geographies and end sectors, meaning we
                                            understand the underlying drivers in
                                            construction markets.</p>
                                    </div>
                                </div>

                                <div class="stm-spacing" id="stm-spacing-6915540310c8d"></div>
                                <script>
                                    (function ($) {
                                        "use strict";
                                        var spacingID = 'stm-spacing-6915540310c8d',
                                            lgSpacing = '',
                                            mdSpacing = '',
                                            smSpacing = '',
                                            xsSpacing = '27px';

                                        function stmSpacing() {
                                            if (window.matchMedia("(min-width: 1200px)").matches && lgSpacing) {
                                                $('#' + spacingID).css("height", lgSpacing);
                                            } else if (window.matchMedia("(max-width: 1199px) and (min-width: 992px )").matches && mdSpacing) {
                                                $('#' + spacingID).css("height", mdSpacing);
                                            } else if (window.matchMedia("(max-width: 991px) and (min-width: 768px )").matches && smSpacing) {
                                                $('#' + spacingID).css("height", smSpacing);
                                            } else if (window.matchMedia("(max-width: 767px)").matches && xsSpacing) {
                                                $('#' + spacingID).css("height", xsSpacing);
                                            } else {
                                                $('#' + spacingID).css("height", "");
                                            }
                                        }

                                        $(document).ready(function () {
                                            stmSpacing();
                                        });

                                        $(window).resize(function () {
                                            stmSpacing();
                                        });

                                    })(jQuery);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">


                                <div onClick="return true" class="icon_box  style_1 icon_left clearfix">
                                    <div class="icon  font-color_default font-color_base_bg" style="width:70px">
                                        <i style="font-size: 20px;  width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;"
                                            class="stm-truck"></i>
                                    </div>
                                    <div class="icon_text">
                                        <h5 class="font-color_base">Surface
                                            Transport &amp;<br />
                                            Logistics Consulting</h5>
                                        <p>Scheduled transport operations, from
                                            broad market trends and strategy to the
                                            development of integrated commercial
                                            strategies.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>