<script>function setREVStartSize(e) {
    //window.requestAnimationFrame(function() {
    window.RSIW = window.RSIW === undefined ? window.innerWidth : window.RSIW;
    window.RSIH = window.RSIH === undefined ? window.innerHeight : window.RSIH;
    try {
        var pw = document.getElementById(e.c).parentNode.offsetWidth,
            newh;
        pw = pw === 0 || isNaN(pw) || (e.l == "fullwidth" || e.layout == "fullwidth") ? window.RSIW : pw;
        e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
        e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
        e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
        e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
        e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
        e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
        e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
        if (e.layout === "fullscreen" || e.l === "fullscreen")
            newh = Math.max(e.mh, window.RSIH);
        else {
            e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
            for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
            e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
            e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
            for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];

            var nl = new Array(e.rl.length),
                ix = 0,
                sl;
            e.tabw = e.tabhide >= pw ? 0 : e.tabw;
            e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
            e.tabh = e.tabhide >= pw ? 0 : e.tabh;
            e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
            for (var i in e.rl) nl[i] = e.rl[i] < window.RSIW ? 0 : e.rl[i];
            sl = nl[0];
            for (var i in nl) if (sl > nl[i] && nl[i] > 0) { sl = nl[i]; ix = i; }
            var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);
            newh = (e.gh[ix] * m) + (e.tabh + e.thumbh);
        }
        var el = document.getElementById(e.c);
        if (el !== null && el) el.style.height = newh + "px";
        el = document.getElementById(e.c + "_wrapper");
        if (el !== null && el) {
            el.style.height = newh + "px";
            el.style.display = "block";
        }
    } catch (e) {
        console.log("Failure at Presize of Slider:" + e)
    }
    //});
};</script>

<div class="vc_row wpb_row vc_row-fluid vc_custom_1464852884508">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-xs">
        <div class="vc_column-inner vc_custom_1465465510777">
            <div class="wpb_wrapper">
                <div class="wpb_revslider_element wpb_content_element">
                    <!-- START Main Slider REVOLUTION SLIDER 6.7.16 -->
                    <p class="rs-p-wp-fix"></p>
                    <rs-module-wrap id="rev_slider_1_1_wrapper"
                        data-source="gallery"
                        style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                        <rs-module id="rev_slider_1_1" style=""
                            data-version="6.7.16">
                            <rs-slides
                                style="overflow: hidden; position: absolute;">
                                <rs-slide style="position: absolute;"
                                    data-key="rs-2" data-title="Slide"
                                    data-duration="5000"
                                    data-anim="d:20;p:dark;f:slidebased;"
                                    data-in="prst:rndany;o:0;x:(15%);sx:0.8;sy:0.8;e:power2.out;row:5;col:5;"
                                    data-out="o:0;x:(-15%);sx:0.8;sy:0.8;e:power2.in;row:5;col:5;">
                                    <img decoding="async" src="images/dummy.png"
                                        alt="Slide" title="home"
                                        class="rev-slidebg tp-rs-img rs-lazyload"
                                        data-lazyload="./images/transparent.png"
                                        data-bg="p:center top;c:#e5e8ed;"
                                        data-no-retina>
                                    <!--
--><rs-layer id="slider-1-slide-2-layer-8" data-type="image" data-rsp_ch="on" data-xy="y:b;yo:-129px;"
                                        data-text="l:22;a:inherit;"
                                        data-dim="w:1229px;h:553px;"
                                        data-frame_0="y:50px;tp:600;"
                                        data-frame_1="tp:600;e:power1.inOut;st:2600;sp:510;sR:2600;"
                                        data-frame_999="o:0;tp:600;e:nothing;st:w;sR:1890;"
                                        style="z-index:5;"><img fetchpriority="high"
                                            decoding="async" src="images/dummy.png"
                                            alt="" class="tp-rs-img rs-lazyload"
                                            width="1229" height="553"
                                            data-lazyload="./images/slide1.png"
                                            data-no-retina>
                                    </rs-layer><!--

--><rs-layer id="slider-1-slide-2-layer-1" data-type="text" data-color="rgba(0,46,91,1)" data-rsp_ch="on"
                                        data-xy="x:c;xo:11px;y:c;yo:-63px;"
                                        data-text="l:22;a:center;"
                                        data-frame_0="y:50px;tp:600;"
                                        data-frame_1="tp:600;e:power1.inOut;st:1500;sp:500;sR:1500;"
                                        data-frame_999="o:0;tp:600;e:nothing;st:w;sR:3000;"
                                        style="z-index:6;font-family:'';">
                                        <div class="consulting-rev-title-2">
                                            STRATEGIC MANAGEMENT
                                        </div>
                                    </rs-layer><!--

--><rs-layer id="slider-1-slide-2-layer-4" data-type="text" data-color="rgba(255,255,255,1)" data-rsp_ch="on"
                                        data-xy="x:c;xo:17px;y:c;yo:12px;"
                                        data-text="l:22;"
                                        data-frame_0="y:50px;tp:600;"
                                        data-frame_1="tp:600;e:power1.inOut;st:1900;sp:500;sR:1900;"
                                        data-frame_999="o:0;tp:600;e:nothing;st:w;sR:2600;"
                                        style="z-index:7;font-family:'';"><a
                                            href="#"
                                            class="button bordered icon_right">get a
                                            quote<i
                                                class="fa fa-chevron-right"></i></a>
                                    </rs-layer><!--
--> </rs-slide>
                                <rs-slide style="position: absolute;"
                                    data-key="rs-18" data-title="Slide"
                                    data-duration="5000"
                                    data-in="prst:rndany;o:0;x:100%;">
                                    <img decoding="async" src="images/dummy.png"
                                        alt="Slide" title="home"
                                        class="rev-slidebg tp-rs-img rs-lazyload"
                                        data-lazyload="./images/transparent.png"
                                        data-bg="p:center top;c:#002a52;"
                                        data-no-retina>
                                    <!--
--><rs-layer id="slider-1-slide-18-layer-7" data-type="image" data-rsp_ch="on" data-xy="y:b;yo:-179px;"
                                        data-text="l:22;a:inherit;"
                                        data-dim="w:1229px;h:553px;"
                                        data-frame_0="y:50px;tp:600;"
                                        data-frame_1="tp:600;e:power1.inOut;st:2600;sp:500;sR:2600;"
                                        data-frame_999="o:0;tp:600;e:nothing;st:w;sR:1900;"
                                        style="z-index:5;"><img decoding="async"
                                            src="images/dummy.png" alt=""
                                            class="tp-rs-img rs-lazyload"
                                            width="1229" height="553"
                                            data-lazyload="./images/slide2.png"
                                            data-no-retina>
                                    </rs-layer><!--

--><rs-layer id="slider-1-slide-18-layer-1" data-type="text" data-color="rgba(255,255,255,1)" data-rsp_ch="on"
                                        data-xy="x:c;xo:11px;y:c;yo:-63px;"
                                        data-text="l:22;a:center;"
                                        data-frame_0="y:50px;tp:600;"
                                        data-frame_1="tp:600;e:power1.inOut;st:1500;sp:500;sR:1500;"
                                        data-frame_999="o:0;tp:600;e:nothing;st:w;sR:3000;"
                                        style="z-index:6;font-family:'';">
                                        <div class="consulting-rev-title-2">
                                            <mark>AMAZING</mark> BUSINESS IDEAS
                                        </div>
                                    </rs-layer><!--

--><rs-layer id="slider-1-slide-18-layer-4" data-type="text" data-color="rgba(255,255,255,1)" data-rsp_ch="on"
                                        data-xy="x:c;xo:17px;y:c;yo:12px;"
                                        data-text="l:22;"
                                        data-frame_0="y:50px;tp:600;"
                                        data-frame_1="tp:600;e:power1.inOut;st:1900;sp:500;sR:1900;"
                                        data-frame_999="o:0;tp:600;e:nothing;st:w;sR:2600;"
                                        style="z-index:7;font-family:'';"><a
                                            href="#"
                                            class="button theme_style_3 bordered icon_right">get
                                            a quote<i
                                                class="fa fa-chevron-right"></i></a>
                                    </rs-layer><!--
--> </rs-slide>
                            </rs-slides>
                        </rs-module>

                        <script>
                            setREVStartSize({ c: 'rev_slider_1_1', rl: [1240, 1024, 768, 480], el: [], gw: [1230], gh: [416], type: 'standard', justify: '', layout: 'fullwidth', mh: "0" }); if (window.RS_MODULES !== undefined && window.RS_MODULES.modules !== undefined && window.RS_MODULES.modules["revslider11"] !== undefined) { window.RS_MODULES.modules["revslider11"].once = false; window.revapi1 = undefined; if (window.RS_MODULES.checkMinimal !== undefined) window.RS_MODULES.checkMinimal() }
                        </script>
                    </rs-module-wrap>
                    <!-- END REVOLUTION SLIDER -->
                </div>
            </div>
        </div>
    </div>
</div>