<div class="support-button">
    <ul>
        <li>
            <a href="https://zalo.me/0933311733" target="_blank" rel="noopener" title="Chat với chúng tôi">
                <img src="/images/zalo.svg" alt="Chat on Zalo" />
            </a>
        </li>
        <li>
            <a href="https://m.me/phuong.nguyen.itvn" target="_blank" rel="noopener" title="Chat với chúng tôi">
                <img src="/images/messenger.png" alt="Chat on Messenger" />
            </a>
        </li>
    </ul>
</div>