<div class="vc_row wpb_row vc_row-fluid vc_custom_1465382921114">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div
                    class="vc_custom_heading base_font_color vc_custom_1453275785238 text_align_center">
                    <h2 style="font-size: 45px;line-height: 60px;text-align: center"
                        class="consulting-custom-title">Khách hàng nói gì</h2>
                </div>
                <div class="testimonials_carousel style_1 per_row_2"
                    id="partners_carousel_6915540317474">
                    <div class="testimonial">
                        <div class="image">
                            <a href="testimonials-page/index.html"><img
                                    loading="lazy" decoding="async" class=""
                                    src="images/img_1x1_02-350x350.jpg" width="350"
                                    height="350" alt="img_1x1_02"
                                    title="img_1x1_02" /></a>
                        </div>
                        <div class="info">
                            <h4 class="no_stripe">
                                <a href="testimonials-page/index.html">
                                    Amanda Seyfried </a>
                            </h4>
                            <div class="position">Sales &amp; Marketing</div>
                            <div class="company">Alien Ltd.</div>
                            <p>Consulting WP really helped us achieve our financial
                                goals. The slick presentation along with fantastic
                                readability ensures that our financial standing is
                                stable.</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="image">
                            <a href="testimonials-page/index.html"><img
                                    loading="lazy" decoding="async" class=""
                                    src="images/img_1x1_04-350x350.jpg" width="350"
                                    height="350" alt="img_1x1_04"
                                    title="img_1x1_04" /></a>
                        </div>
                        <div class="info">
                            <h4 class="no_stripe">
                                <a href="testimonials-page/index.html">
                                    Donald Simpson </a>
                            </h4>
                            <div class="position">Chief Financial Officer</div>
                            <div class="company">Jamaica International</div>
                            <p>When you are in the financial industry you know the
                                image you have to project to people. You have to be
                                agile and authoritative; Consulting WP is the way to
                                go for financial institutions</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="image">
                            <a href="testimonials-page/index.html"><img
                                    loading="lazy" decoding="async" class=""
                                    src="images/img_1x1_01-350x350.jpg" width="350"
                                    height="350" alt="img_1x1_01"
                                    title="img_1x1_01" /></a>
                        </div>
                        <div class="info">
                            <h4 class="no_stripe">
                                <a href="testimonials-page/index.html">
                                    Christian Marcil </a>
                            </h4>
                            <div class="position">Partner &amp; Managing Director
                            </div>
                            <div class="company">Grandier Co.</div>
                            <p>Consulting WordPress Theme is the way to go for
                                financial institutions. We take pride in being a
                                transparent and perfection oriented organization.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="image">
                            <a href="testimonials-page/index.html"><img
                                    loading="lazy" decoding="async" class=""
                                    src="images/Rectangle-110-350x350.jpg"
                                    width="350" height="350" alt="Rectangle 110"
                                    title="Rectangle 110" /></a>
                        </div>
                        <div class="info">
                            <h4 class="no_stripe">
                                <a href="testimonials-page/index.html">
                                    Donald Simpson </a>
                            </h4>
                            <div class="position">Chief Financial Officer</div>
                            <div class="company">Jamaica International</div>
                            <p>When you are in the financial industry you know the
                                image you have to project to people. You have to be
                                agile and authoritative; Consulting WP is the way to
                                go for financial institutions</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="image">
                            <a href="testimonials-page/index.html"><img
                                    loading="lazy" decoding="async" class=""
                                    src="images/Rectangle-106-e1726053824970-350x350.jpg"
                                    width="350" height="350" alt="Rectangle 106"
                                    title="Rectangle 106" /></a>
                        </div>
                        <div class="info">
                            <h4 class="no_stripe">
                                <a href="testimonials-page/index.html">
                                    Amanda Seyfried </a>
                            </h4>
                            <div class="position">Sales &amp; Marketing</div>
                            <div class="company">Alien Ltd.</div>
                            <p>Consulting WP really helped us achieve our financial
                                goals. The slick presentation along with fantastic
                                readability ensures that our financial standing is
                                stable.</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="image">
                            <a href="testimonials-page/index.html"><img
                                    loading="lazy" decoding="async" class=""
                                    src="images/Rectangle-112-e1726053785543-350x350.jpg"
                                    width="350" height="350" alt="Rectangle 112"
                                    title="Rectangle 112" /></a>
                        </div>
                        <div class="info">
                            <h4 class="no_stripe">
                                <a href="testimonials-page/index.html">
                                    Christian Marcil </a>
                            </h4>
                            <div class="position">Partner &amp; Managing Director
                            </div>
                            <div class="company">Grandier Co.</div>
                            <p>Consulting WordPress Theme is the way to go for
                                financial institutions. We take pride in being a
                                transparent and perfection oriented organization.
                            </p>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        "use strict";
                        var partners_carousel_6915540317474 = $("#partners_carousel_6915540317474");
                        var slickRtl = false;

                        if ($('body').hasClass('rtl')) {
                            slickRtl = true;
                        }


                        partners_carousel_6915540317474.
                            slick({
                                rtl: slickRtl,
                                dots: false,
                                infinite: true,
                                arrows: false, autoplaySpeed: 5000,
                                autoplay: false,
                                slidesToShow: 2,
                                cssEase: "cubic-bezier(0.455, 0.030, 0.515, 0.955)",
                                responsive: [
                                    {
                                        breakpoint: 769,
                                        settings: {
                                            slidesToShow: 1
                                        }
                                    }
                                ]
                            });
                    });
                </script>
            </div>
        </div>
    </div>
</div>