<div data-vc-full-width="true" data-vc-full-width-temp="true" data-vc-full-width-init="false"
    class="vc_row wpb_row vc_row-fluid overlay_2 fixed_bg vc_custom_1465380344981 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div
                    class="vc_custom_heading no_stripe vc_custom_1465380094344 text_align_center has_icon icon_pos_top">
                    <div class="icon" style="font-size: 67px; line-height: 67px;"><i class="stm-check"></i></div>
                    <h4 style="font-size: 45px;color: #ffffff;line-height: 45px;text-align: center;font-weight:500"
                        class="consulting-custom-title"><mark>leading the way</mark>
                        in building &amp;<br />
                        civil construction forever </h4>
                </div>
            </div>
        </div>
    </div>
</div>