<footer id="footer" class="footer style_1">
    <div class="widgets_row">
        <div class="container">
            <div class="footer_widgets">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 company_info">
                        <div class="footer_logo">
                            <a href="/">
                                <img
                                    src="/images/logo.png"
                                    alt="GoodApp"
                                    width="150"
                                    height="auto"
                                />
                            </a>
                        </div>
                        <div class="footer_text">
                            <ul class="footer_address">
                                <li>
                                    <div class="icon">
                                        <i class="stm-location-2"></i>
                                    </div>
                                    <div class="text">
                                        <p>
                                            35 Hoa Sứ, Phường Cầu Kiệu, TP Hồ Chí Minh, Việt Nam.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="stm-iphone"></i>
                                    </div>
                                    <div class="text">
                                        <p>0933 311 733</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="stm-email"></i>
                                    </div>
                                    <div class="text">
                                        <a href="mailto:info@goodapp.vn">info@goodapp.vn</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <section
                            id="recent-posts-4"
                            class="widget widget_recent_entries"
                        >
                            <h4 class="widget_title no_stripe">Tin công nghệ</h4>
                            <ul>
                                <li>
                                    <a
                                        href="#news1"
                                        >CI/CD Pipeline: Tăng Tốc Phát Triển Phần Mềm</a
                                    >
                                    <span class="post-date"
                                        >Thứ hai, ngày 5 tháng 1, 2026</span
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#news2"
                                        >Tự động hóa hệ thống với Ansible</a
                                    >
                                    <span class="post-date"
                                        >Thứ ba, ngày 6 tháng 1, 2026</span
                                    >
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <section id="nav_menu-2" class="widget widget_nav_menu">
                            <h4 class="widget_title no_stripe">Liên kết</h4>
                            <div class="menu-extra-links-container">
                                <ul id="menu-extra-links" class="menu">
                                    <li id="menu-item-163" class="menu-item">
                                        <a href="#about"
                                            >About</a
                                        >
                                    </li>
                                    <li id="menu-item-164" class="menu-item">
                                        <a href="#news">News</a>
                                    </li>
                                    <li id="menu-item-165" class="menu-item">
                                        <a href="#contact"
                                            >Contacts</a
                                        >
                                    </li>
                                    <li id="menu-item-927" class="menu-item">
                                        <a href="#testimonials"
                                            >Testimonials</a
                                        >
                                    </li>
                                    <li id="menu-item-928" class="menu-item">
                                        <a href="#typography"
                                            >Typography</a
                                        >
                                    </li>
                                    <li id="menu-item-929" class="menu-item">
                                        <a href="#services"
                                            >Services</a
                                        >
                                    </li>
                                    <li id="menu-item-930" class="menu-item">
                                        <a
                                            href="#careers"
                                            >Careers</a
                                        >
                                    </li>
                                    <li id="menu-item-931" class="menu-item">
                                        <a
                                            href="#our-team-grid"
                                            >Our team</a
                                        >
                                    </li>
                                    <li id="menu-item-933" class="menu-item">
                                        <a href="#shop">Shop</a>
                                    </li>
                                    <li id="menu-item-934" class="menu-item">
                                        <a
                                            href="#our-approach"
                                            >Our approach</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <section
                            id="mc4wp_form_widget-2"
                            class="widget widget_mc4wp_form_widget"
                        >
                            <h4 class="widget_title no_stripe">Đăng ký nhận mail</h4>

                            <script>
                                (function () {
                                    window.mc4wp = window.mc4wp || {
                                        listeners: [],
                                        forms: {
                                            on: function (evt, cb) {
                                                window.mc4wp.listeners.push(
                                                    {
                                                        event: evt,
                                                        callback: cb
                                                    }
                                                );
                                            }
                                        }
                                    }
                                })();
                            </script>
                            <form
                                id="mc4wp-form-1"
                                class="mc4wp-form mc4wp-form-172 mc4wp-form-basic"
                                method="post"
                                data-id="172"
                                data-name="Subscribe"
                            >
                                <div class="mc4wp-form-fields">
                                    <div class="stm_newsletter_form">
                                        <input
                                            class="form-control"
                                            type="email"
                                            name="EMAIL"
                                            placeholder="Enter Your E-mail"
                                            required
                                        />
                                        <input
                                            id="stm_newsletter_submit"
                                            type="submit"
                                            value=""
                                        />
                                        <label for="stm_newsletter_submit"
                                            ><i class="stm-email"></i
                                        ></label>
                                    </div>
                                    <p>Nhận thông tin cập nhật và ưu đãi.</p>
                                </div>
                                <label style="display: none !important;"
                                    >Leave this field empty if you're human:
                                    <input
                                        type="text"
                                        name="_mc4wp_honeypot"
                                        value=""
                                        tabindex="-1"
                                        autocomplete="off" /></label
                                ><input
                                    type="hidden"
                                    name="_mc4wp_timestamp"
                                    value="1763005443"
                                /><input
                                    type="hidden"
                                    name="_mc4wp_form_id"
                                    value="172"
                                /><input
                                    type="hidden"
                                    name="_mc4wp_form_element_id"
                                    value="mc4wp-form-1"
                                />
                                <div class="mc4wp-response"></div>
                            </form>
                            <!-- / Mailchimp for WordPress Plugin -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_row">
        <div class="container">
            <div class="copyright_row_wr">
                <div class="socials">
                    <ul>
                        <li>
                            <a href="#" target="_blank" class="social-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="social-twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    © 2026
                    <a href="/" target="_blank">GoodApp</a>. All rights reserved
                </div>
            </div>
        </div>
    </div>
</footer>
