<header id="header">
    <div class="header-box">
        <div class="container">
            <div class="logo-box">
                <div class="logo logo-desktop">
                    <a href="/" style="margin: -14px 0px 0px 0px;">
                        <img src="/images/logo_blue.png" width="150" height="auto"
                            alt="GoodApp" />
                    </a>
                </div>
                <div class="logo logo-mobile">
                    <a href="/" style="margin: -14px 0px 0px 0px;">
                        <img src="/images/logo_white.png" width="150" height="auto"
                            alt="GoodApp" />
                    </a>
                </div>
                <div class="menu-toggle">
                    <button>&nbsp;</button>
                </div>
            </div>

            <div class="contact-info-box
							hide_on_mobile
			">
                <div class="contact-info">
                    <div class="icon">
                        <i class="stm-pin6" style="color:rgba(255,255,255,0.9); font-size:16px;"></i>
                    </div>
                    <div class="text">
                        35 Hoa Sứ, Phường Cầu Kiệu, <br />TP Hồ Chí Minh, Việt Nam. </div>
                </div>
                <div class="contact-info">
                    <div class="icon"><i class="stm-clock6" style="color:rgba(255,255,255,0.9); font-size:16px;"></i>
                    </div>
                    <div class="text">
                        Hỗ trợ 24/7 </div>
                </div>
                <div class="contact-info">
                    <div class="icon"><i class="stm-phone" style="color:rgba(255,255,255,0.9); font-size:16px;"></i>
                    </div>
                    <div class="text">
                        <strong style="font-size: 15px; font-weight: 700;">0933 311 733</strong><br /><span>Tư vấn miễn phí</span>
                    </div>
                </div>
            </div>

            <div class="socials-box
									hide_on_mobile
							">
                <a target="_blank" href="#">
                    <i class="fa fa-facebook">&nbsp;</i>
                </a>
                <a target="_blank" href="#">
                    <i class="fa fa-twitter">&nbsp;</i>
                </a>
                <a target="_blank" href="#">
                    <i class="fa fa-instagram">&nbsp;</i>
                </a>
            </div>
            <div class="nav-box">
                <ul id="menu-main-menu" class="main_menu_nav">
                    <li class="menu-item current-menu-item page_item current_page_item">
                        <a href="#" aria-current="page" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li id="menu-item-1424"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_3">
                        <a href="#" title="Thiết kế website">Thiết kế website</a>
                    </li>
                    <li id="menu-item-1424"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_3">
                        <a href="#" title="Mẫu website">Mẫu website</a>
                    </li>
                    <li id="menu-item-1424"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_3">
                        <a href="#solution-page" title="Giải pháp website">Giải pháp website</a>
                    </li>
                    <li id="menu-item-179"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_default">
                        <a href="#" title="Bảng giá">Bảng giá</a>
                    </li>
                    <li id="menu-item-467" class="menu-item menu-item-has-children">
                        <a href="#" title="Liên hệ">Liên hệ</a>
                    </li>
                    <li id="menu-item-1424"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_3">
                        <a href="#blog" title="Blog">Blog</a>
                    </li>
                </ul>
                <div class="contact-info">
                    <div class="icon">
                        <i class="stm-phone" style="color:rgba(255,255,255,0.9); font-size:16px;"></i>
                    </div>
                    <div class="text">
                        <strong style="font-size: 15px; font-weight: 700;">0933 311 733</strong><br /><span>Tư vấn miễn
                            phí.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>