<header id="header">
    <div class="header-box">
        <div class="container">
            <div class="logo-box">
                <div class="logo logo-desktop">
                    <a href="index.html" style="margin: -14px 0px 0px 0px;">
                        <img src="images/logo_default.svg" style="width: px; height: px;"
                            alt="Consulting WP &#8211; Singapore" />
                    </a>
                </div>
                <div class="logo logo-mobile">
                    <a href="index.html" style="margin: -14px 0px 0px 0px;">
                        <img src="images/logo_dark.svg" style="width: px; height: px;"
                            alt="Consulting WP &#8211; Singapore" />
                    </a>
                </div>
                <div class="menu-toggle">
                    <button>&nbsp;</button>
                </div>
            </div>

            <div class="contact-info-box
							hide_on_mobile
			">
                <div class="contact-info">
                    <div class="icon">
                        <i class="stm-pin6" style="color:rgba(255,255,255,0.9); font-size:16px;"></i>
                    </div>
                    <div class="text">
                        1020 Avenue of the Moon<br />New York, NY 10018 US. </div>
                </div>
                <div class="contact-info">
                    <div class="icon"><i class="stm-clock6" style="color:rgba(255,255,255,0.9); font-size:16px;"></i>
                    </div>
                    <div class="text">
                        Mon - Sat 9.00 - 18.00<br />Sunday CLOSED </div>
                </div>
                <div class="contact-info">
                    <div class="icon"><i class="stm-phone" style="color:rgba(255,255,255,0.9); font-size:16px;"></i>
                    </div>
                    <div class="text">
                        <strong style="font-size: 15px; font-weight: 700;">212 386
                            5575</strong><br /><span>Free call</span>
                    </div>
                </div>
            </div>

            <div class="socials-box
									hide_on_mobile
							">
                <a target="_blank" href="https://twitter.com/stylemix_themes">
                    <i class="fa fa-facebook">&nbsp;</i>
                </a>
                <a target="_blank" href="https://twitter.com/stylemix_themes">
                    <i class="fa fa-twitter">&nbsp;</i>
                </a>
                <a target="_blank" href="https://www.instagram.com/stylemixthemes/">
                    <i class="fa fa-instagram">&nbsp;</i>
                </a>
            </div>




            <div class="nav-box">
                <ul id="menu-main-menu" class="main_menu_nav">
                    <li id="menu-item-1232"
                        class="menu-item current-menu-item page_item current_page_item">
                        <a href="index.html" aria-current="page">HOME</a>
                    </li>
                    <li id="menu-item-281"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_3">
                        <a href="company-overview/index.html">ABOUT US</a>
                        <ul class="sub-menu">
                            <li id="menu-item-379"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="company-overview/company-history/index.html">About</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1387"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="company-overview/index.html">About Layout 1</a>
                                    </li>
                                    <li id="menu-item-1385"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="about-layout-2/index.html">About Layout 2</a>
                                    </li>
                                    <li id="menu-item-1386"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="about-layout-3/index.html">About Layout 3</a>
                                    </li>
                                    <li id="menu-item-6462"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="about-layout-4/index.html">About Layout 4</a>
                                    </li>
                                    <li id="menu-item-6846"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="company-overview/our-approach/index.html">Our Approach</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-410"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="company-overview/careers/index.html">careers</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-812"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="company-overview/careers/index.html">Jobs Listing</a>
                                    </li>
                                    <li id="menu-item-6469"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="job-listing-grid/index.html">Job Listing Grid</a>
                                    </li>
                                    <li id="menu-item-6840"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="careers-2/index.html">Job Listing With Filter</a>
                                    </li>
                                    <li id="menu-item-792"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="careers_archive/deputy-principal-construction-manager-2/index.html">Vacancy
                                            Page</a>
                                    </li>
                                    <li id="menu-item-6488"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="careers_archive/senior-industrial-planner/index.html">Vacancy
                                            Page 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-808"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="company-overview/our-team-grid/index.html">our team</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-444"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="company-overview/our-team-list/index.html">Team List</a>
                                    </li>
                                    <li id="menu-item-6472"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="our-team-list-2/index.html">Team List 2</a>
                                    </li>
                                    <li id="menu-item-466"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="company-overview/our-team-grid/index.html">Team Grid</a>
                                    </li>
                                    <li id="menu-item-810"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="staff/brandon-copperfield/index.html">Team Member</a>
                                    </li>
                                    <li id="menu-item-393"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="company-overview/our-partners/index.html">Partners</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-346"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="company-overview/our-approach/index.html">Miscellaneous</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-6835"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="solutions/index.html">Solutions</a>
                                    </li>
                                    <li id="menu-item-6841"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="privacy-policy/index.html">Privacy Policy</a>
                                    </li>
                                    <li id="menu-item-6834"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="under-construction/index.html">Under Construction</a>
                                    </li>
                                    <li id="menu-item-6468"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="faq/index.html">FAQ</a>
                                    </li>
                                    <li id="menu-item-6839"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="faq-2/index.html">FAQ – 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-6847"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_full_width">
                                <a href="cost-calculator/index.html"><img alt="Cost Calc" src="images/about.jpg" /></a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-560"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_3">
                        <a href="services-grid/index.html">SERVICES</a>
                        <ul class="sub-menu">
                            <li id="menu-item-6852"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="services-grid/index.html">Archive View</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-813"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="services-grid/index.html">Services Grid</a>
                                    </li>
                                    <li id="menu-item-6479"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="services-list/index.html">Services List</a>
                                    </li>
                                    <li id="menu-item-6837"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="services-with-icons/index.html">Services With Icons</a>
                                    </li>
                                    <li id="menu-item-7375"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="services-with-icons-2/index.html">Services With Icons 2</a>
                                    </li>
                                    <li id="menu-item-1458"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="services-with-tabs/index.html">Services With Tabs</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-6853"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="service/turnaround-consulting/index.html">Single Page</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-586"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="service/turnaround-consulting/index.html">Service Layout
                                            1</a>
                                    </li>
                                    <li id="menu-item-587"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="service/bonds-commodities/index.html">Service Layout 2</a>
                                    </li>
                                    <li id="menu-item-588"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="service/audit-assurance/index.html">Service Layout 3</a>
                                    </li>
                                    <li id="menu-item-6474"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="service-layout-5/index.html">Service Layout 4</a>
                                    </li>
                                    <li id="menu-item-6467"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="service-layout-4/index.html">Service Layout 5</a>
                                    </li>
                                    <li id="menu-item-6843"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="service/local-business-opportunities/index.html">Service
                                            Layout 6</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-6854"
                                class="menu-item stm_col_width_6 stm_mega_cols_inside_default stm_mega_col_width_banner_inside">
                                <a target="_blank" rel="noopener"
                                    href="https://stylemixthemes.com/consulting/features/"><img alt="Elementor"
                                        src="images/templates.jpg" /></a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-604"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_3">
                        <a href="our-work-grid/index.html">CASES</a>
                        <ul class="sub-menu">
                            <li id="menu-item-7333"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="cases-tiles/index.html">Archive View</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-6463"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="cases-grid/index.html">Cases Grid</a>
                                    </li>
                                    <li id="menu-item-6473"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="our-work-grid-2/index.html">Cases Grid 2</a>
                                    </li>
                                    <li id="menu-item-6464"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="cases-list/index.html">Cases List</a>
                                    </li>
                                    <li id="menu-item-7332"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="cases-tiles/index.html">Cases Tiles</a>
                                    </li>
                                    <li id="menu-item-617"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="our-work-with-filter/index.html">Cases With Filter</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-6856"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="works/developing-a-strategy-and-roadmap/index.html">Single Page</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-633"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="works/applying-commercial-excellence-in-chemicals/index.html">Single
                                            Case Layout 1</a>
                                    </li>
                                    <li id="menu-item-634"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="works/constructing-a-best-in-class-global/index.html">Single
                                            Case Layout 2</a>
                                    </li>
                                    <li id="menu-item-6491"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="works/healthcare-giant-overcomes-merger-risks-for-growth/index.html">Single
                                            Case Layout 3</a>
                                    </li>
                                    <li id="menu-item-6490"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="works/transformation-sparks-financial-leaders-turnaround/index.html">Single
                                            Case Layout 4</a>
                                    </li>
                                    <li id="menu-item-6489"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="works/focus-on-core-delivers-growth-for-retailer/index.html">Single
                                            Case Layout 5</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-6857"
                                class="menu-item stm_col_width_6 stm_mega_cols_inside_default stm_mega_col_width_banner_inside">
                                <a href="https://stylemixthemes.com/consulting/features/"><img alt="Elementor"
                                        src="images/fb-consult-post-widget-1.jpg" /></a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-524"
                        class="menu-item menu-item-has-children">
                        <a href="blog/index6660.html?layout=grid&amp;sidebar_id=none">NEWS</a>
                        <ul class="sub-menu">
                            <li id="menu-item-7280"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="grid-view/index.html">Grid View</a>
                            </li>
                            <li id="menu-item-7279"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="news-grid-2/index.html">Grid Masonry</a>
                            </li>
                            <li id="menu-item-7278"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="news-list-2/index.html">List View</a>
                            </li>
                            <li id="menu-item-6485"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="within-the-construction-industry-as-their-overdraft/index.html">Single
                                    post</a>
                            </li>
                            <li id="menu-item-6484"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="a-digital-prescription-for-the-pharma-industry/index.html">Single
                                    post 2</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-1424"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_3">
                        <a href="portfolio-grid/index.html">PORTFOLIO</a>
                        <ul class="sub-menu">
                            <li id="menu-item-6858"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="portfolio-grid/index.html">Archive View</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-7257"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="masonry-grid/index.html">Masonry Grid</a>
                                    </li>
                                    <li id="menu-item-7256"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="images-grid/index.html">Images Grid</a>
                                    </li>
                                    <li id="menu-item-7255"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="grid-with-text/index.html">Grid With Text</a>
                                    </li>
                                    <li id="menu-item-7254"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="grid-with-text-2/index.html">Grid With Text 2</a>
                                    </li>
                                    <li id="menu-item-7253"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="portfolio-list/index.html">Portfolio List</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-6859"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="portfolio/beff-baffer-construction/index.html">Single Page</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1425"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="portfolio/beff-baffer-construction/index.html">Portfolio
                                            Single One</a>
                                    </li>
                                    <li id="menu-item-1426"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="portfolio/focus-on-core-delivers-growth-for-retailer/index.html">Portfolio
                                            Single Two</a>
                                    </li>
                                    <li id="menu-item-1427"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="portfolio/construction-of-railways/index.html">Portfolio
                                            Single Three</a>
                                    </li>
                                    <li id="menu-item-6842"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="portfolio/business-planning-strategy-execution/index.html">Portfolio
                                            Single Four</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-6860"
                                class="menu-item stm_col_width_6 stm_mega_cols_inside_default stm_mega_col_width_banner_inside">
                                <a href="https://stylemixthemes.com/consulting/headers/"><img alt="Headers"
                                        src="images/04.jpg" /></a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-179"
                        class="menu-item menu-item-has-children stm_megamenu stm_megamenu__boxed stm_megamenu_default">
                        <a href="#">ELEMENTS</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1467"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="company-overview/index.html">Company overview</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1468"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="company-overview/index.html"><img alt="Company overview1"
                                                src="images/thumbnail_3342.jpg" />
                                            <div class="stm_mega_textarea">Consulting WP is a global
                                                consulting powerhouse.</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-1071"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="testimonials-page.html">Example Pages</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-7221"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="posts-widget/index.html">Posts</a>
                                    </li>
                                    <li id="menu-item-7222"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="portfolio-widget/index.html">Portfolio</a>
                                    </li>
                                    <li id="menu-item-7223"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="timeline-widget/index.html">Timeline</a>
                                    </li>
                                    <li id="menu-item-7293"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="icon-box/index.html">Icon Box</a>
                                    </li>
                                    <li id="menu-item-326"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="testimonials-grid/index.html">Testimonials Grid</a>
                                    </li>
                                    <li id="menu-item-1076"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="testimonials-carousel/index.html">Testimonials Carousel</a>
                                    </li>
                                    <li id="menu-item-6504"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="graphs-charts/index.html">Graphs &#038; Charts</a>
                                    </li>
                                    <li id="menu-item-178"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="typography/index.html">Typography</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-1380"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="events-classic/index.html">Extra Pages</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1383"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="events-grid/index.html">Event Grid</a>
                                    </li>
                                    <li id="menu-item-1381"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="events-classic/index.html">Event Classic</a>
                                    </li>
                                    <li id="menu-item-1382"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="events-modern/index.html">Event Modern</a>
                                    </li>
                                    <li id="menu-item-6465"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="coming-soon/index.html">Coming Soon</a>
                                    </li>
                                    <li id="menu-item-6466"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="cost-calculator/index.html">Cost Calculator</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-1469"
                                class="menu-item menu-item-has-children stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="contact-us/index.html">Contacts</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1470"
                                        class="menu-item stm_mega_second_col_width_default">
                                        <a href="#">
                                            <div class="stm_mega_textarea">
                                                <table class="megamenu-contacts">
                                                    <tr>
                                                        <td><i class="stm_megaicon stm-marker"></i></td>
                                                        <td>1010 Avenue of the Moon New York, NY 10018 US.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-phone" aria-hidden="true"></i>
                                                        </td>
                                                        <td>+1 628 123 4000</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                                                        <td><a
                                                                href="https://consulting.stylemixthemes.com/cdn-cgi/l/email-protection#abc9ced9ccebc8c4c5d8dec7dfc2c5cc85dcdb"><span
                                                                    class="__cf_email__"
                                                                    data-cfemail="c1a3a4b3a681a2aeafb2b4adb5a8afa6efb6b1">[email&#160;protected]</span></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </td>
                                                        <td>Mon–Sat: 8:00AM–6:00PM Sunday: CLOSED</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-838"
                        class="menu-item menu-item-has-children">
                        <a href="shop/index.html">SHOP</a>
                        <ul class="sub-menu">
                            <li id="menu-item-923"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="shop/my-account/index.html">my account</a>
                            </li>
                            <li id="menu-item-917"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="shop/cart/index.html">cart</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-467"
                        class="menu-item menu-item-has-children">
                        <a href="contact-us/index.html">CONTACTS</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1432"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="contact-us/index.html">Contact one</a>
                            </li>
                            <li id="menu-item-1431"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="contact-two/index.html">Contact two</a>
                            </li>
                            <li id="menu-item-1430"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="contact-three/index.html">Contact three</a>
                            </li>
                            <li id="menu-item-1429"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="contact-four/index.html">Contact four</a>
                            </li>
                            <li id="menu-item-1428"
                                class="menu-item stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default">
                                <a href="contact-five/index.html">Contact five</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="contact-info">
                    <div class="icon">
                        <i class="stm-phone" style="color:rgba(255,255,255,0.9); font-size:16px;"></i>
                    </div>
                    <div class="text">
                        <strong style="font-size: 15px; font-weight: 700;">212 386
                            5575</strong><br /><span>Free call</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>