<div id="main">
    <div class="container">
        <div class="content-area">
            <article class="page">

                <div class="entry-content">
                    <div class="wpb-content-wrapper">
                        <!-- include:partials/others/slider.html -->
                        <!-- include:partials/others/get_quote.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <!-- include:partials/others/our_services.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <!-- include:partials/others/grid_with_text.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <!-- include:partials/others/testimonials.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                </div>

            </article>
        </div>
    </div> <!--.container-->
</div> <!--#main-->