<div id="main">
    <div class="container">
        <div class="content-area">
            <article id="post-979" class="page">

                <div class="entry-content">
                    <div class="wpb-content-wrapper">
                        <!-- include:partials/others/slider.html -->
                        <!-- include:partials/others/get_quote.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <!-- include:partials/others/goal.html -->
                        <!-- include:partials/others/text1.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <!-- include:partials/others/services.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <!-- include:partials/others/testimonials.html -->
                        <!-- include:partials/others/partners.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <!-- include:partials/others/text2.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <!-- include:partials/others/news.html -->
                        <!-- include:partials/others/contact.html -->
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                </div>

            </article>
        </div>
    </div> <!--.container-->
</div> <!--#main-->